<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <!-- 指定扫描的包,对应service的实现类的包 -->
    <context:component-scan base-package="com.smart.lock.service.impl" />

    <!-- 定义数据源Bean -->
    <!-- Druid -->
    <bean id="dataSource"
        class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url"
            value="jdbc:mysql://localhost/geoinfo" />
        <property name="username" value="user" />
        <property name="password" value="user" />
    </bean>

    <!-- 注册SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory"
        class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- 自动扫描mappers.xml文件 -->
        <property name="mapperLocations"
            value="classpath*:com/smart/lock/mapper/*.xml" />
        <property name="configLocation"
            value="classpath:mybatis-config.xml"></property>
    </bean>

    <!-- DAO接口所在包名，Spring会自动查找其下的类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.smart.lock.model" />
        <property name="sqlSessionFactoryBeanName"
            value="sqlSessionFactory" />
    </bean>
</beans>